% -*- mode: erlang -*-
{erl_opts, [
  debug_info
  %{parse_transform, lager_transform}
]}.

{deps, [
]}.

{shell, [
  { apps, [ corpuscule_engine ]}
]}.

{ct_opts, [
  {logdir, "test/ct_logs"},
  {sys_config, "sys.config"},
  {verbose, true}
]}.

{relx, [
  {release, {ai_net, "0.0.1"}, [
    
  ]},

  {sys_config, "./sys.config"},
  {vm_args,    "./vm.args"},

  {include_erts, false},
  {extended_start_script, true}]
}.
